<!DOCTYPE html>
<html lang="en">
<head>
    <title>$RESULT_A vs $RESULT_B - Performance Comparison</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="jumbotron">
        <h1>$RESULT_A vs $RESULT_B</h1>
        <h2>Performance Comparison</h2>
        <p class="lead"></p>
    </div>

    <h2>Gatling results</h2>
    <h4>$RESULT_A_vs_$RESULT_B.csv</h4>
    $RESULT_COMPARISON_TABLE

    <h2>atop results</h2>
    <h4>atop_$RESULT_A_vs_$RESULT_B.summary.csv</h4>
    $ATOP_SUMMARY_COMPARISON_TABLE

</div>
</body>
</html>

