source 'https://rubygems.org'

# This is a gemfile for use on the master; we'll need to scp it over

# NOTE: We have to use Alex's branch of librarian for now, because
# the released versions of librarian are not compatible with PE3.2
# See: https://github.com/rodjek/librarian-puppet/pull/190
gem 'librarian-puppet', :github => 'adreyer/librarian-puppet', :branch => 'pe-32-compat'
